@import url(style.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contenedor main con imagen de fondo */
main{
    align-items: center;
    background-image: url(../../public/img/background-login.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150% 150vh;
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Contenedor del inicio de sesión */
.container-login{
    align-items: center;
    background-color: #2F2F2F;
    border-radius: 20px;
    box-shadow:  0 0 20px 0 rgb(62, 62, 62);
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-evenly;
    margin-left: 100px;
    width: 500px;
}

/* Título */
.container-login h1{
    color: white;
    font-family: black_hans_sans;
    font-size: 45px;
}

/* Formulario de inicio de sesión */
.container-login form{
    align-items: center;
    display: flex;
    height: 290px;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
}

/* Diseño aplicado a todos los input */
.container-login form input{
    background-color: #2F2F2F;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    height: 50px;
    padding-left: 10px;
    width: 100%;
}

/* Se elimina los bordes del focus al input y se agrega un borde inferior más ancho */
.container-login form input:focus{
    outline: none;
    border-bottom: 2px solid white;
}

/* Placeholder con un color blanco */
.container-login form input::placeholder{
    color: white;
}

/* Contenedor password*/
.container-login form .password-login{
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 75px;
    width: 100%;
}

/* Icono del contenedor password*/
.container-login form .password-login img{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 15px;
    width: 30px;
}

/* Enlace del contenedor password */
.container-login form .password-login a{
    color: white;
    font-family: rubik;
    font-size: 12px;
    text-decoration: none;
    margin-top: 15px;
}

/* Hover al enlace del contenedor password */
.container-login form .password-login a:hover{
    text-decoration: underline;
}

/* Contenedor del botón del formulario */
.container-login form .btn-login{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Botón del formulario */
.container-login form .btn-login button{
    background-color: #38548C;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    width: 300px;
}

/* Span y enlace del contedor del botón del formulario */
.container-login form .btn-login span{
    color: white;
    font-family: rubik;
    font-size: 12px;
    margin-top: 20px;
}

.container-login form .btn-login a{
    color: white;
    font-size: 12px;
    font-weight: bold;
}