/* FUENTES */
@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: black_hans_sans;
    src: url(../fonts/Black_Han_Sans/BlackHanSans-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MENÚ LATERAL */
/* Contenedor del menú lateral */
.menu-lateral{
    align-items: center;
    display: flex;
    box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
    flex-direction: column;
    height: 100vh;
    width: 20%;
    background-color: white;
}

/* Logo */
.menu-lateral h2{
    font-family: black_hans_sans;
    font-size: 22pt;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Contenedor de elementos de navegación */
.menu-lateral a div{
    align-items: center;
    border-radius: 10px;
    display: flex;
    font-family: rubik;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 0 10px 20%;
    transition: .6s;
}
/* textos de los elementos de navegación */
.menu-lateral a div p{
    margin-left: 8px;
}
.menu-lateral a,
.menu-lateral .navegacion{
    color: black;
    text-decoration: none;
    width: 95%;
}
.menu-lateral .navegacion{
    flex-grow: 1;
}

/* Ocultar las imágenes innecesarias */
.menu-lateral a div img:nth-child(2){
    display: none;
}

/* Hover al contenedor de los elementos de navegación */
.menu-lateral a:hover div{
    background-color: black;
    color: white;
}
.menu-lateral a:hover div img:nth-child(1){display: none;}
.menu-lateral a:hover div img:nth-child(2){display: block;}

/* Usuario */
.menu-lateral .enlace-usuario{
    margin-bottom: 10px;
    overflow: auto;
}
.menu-lateral .enlace-usuario #usuario{
    padding: 0;
    margin: auto;
    width: fit-content;
    max-width: 220px;
}
/* icono del usuario */
.menu-lateral .enlace-usuario #icono-usuario{
    background-color: #C1D5FB;
    border-radius: 100%;
    font-size: 15pt;
    height: 35px;
    justify-content: center;
    padding: 0 10px;
    width: fit-content;
}
/* Nombre del usuario */
.menu-lateral .enlace-usuario .nombre-rol{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0;
}
/* Rol del usuario */
.menu-lateral .enlace-usuario #rol-usuario{
    font-size: 11pt;
    font-weight: lighter;
}
/* Hover al usuario */
.menu-lateral .enlace-usuario:hover .nombre-rol,
.menu-lateral .enlace-usuario:hover #usuario{background-color: white; color: black;}
.menu-lateral .enlace-usuario:hover #icono-usuario{background-color: #C1D5FB; color: black;}

/* Log out */
.menu-lateral #log-out{
    background-color: black;
    border-radius: 0;
    color: white;
    margin: 0;
}
.menu-lateral .enlace-logout{
    width: 100%;
}
/* Hover al log out */
.menu-lateral #log-out:hover img{display: block;}