/* Importando las fuentes necesarias */
@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: black_hans_sans;
    src: url(../fonts/Black_Han_Sans/BlackHanSans-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MENÚ LATERAL */
/* contenedor del menú */
.menu-lateral{
    align-items: center;
    display: flex;
    box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
    flex-direction: column;
    float: left;
    height: 100vh;
    width: 20vw;
}

.menu-lateral h2{
    font-family: black_hans_sans;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 20px;
}

.menu-lateral a div{
    align-items: center;
    display: flex;
    font-family: rubik;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 0 10px 5vw;
}

.menu-lateral a div p{
    margin-left: 8px;
}

.menu-lateral a,
.menu-lateral .navegacion{
    text-decoration: none;
    color: black;
    width: 100%;
}

.menu-lateral a div img:nth-child(2){
    display: none;
}

.menu-lateral a div{
    transition: .6s;
}

.menu-lateral a:hover div{
    background-color: black;
    color: white;
}
.menu-lateral a:hover div img:nth-child(1){display: none;}
.menu-lateral a:hover div img:nth-child(2){display: block;}

.menu-lateral .navegacion{
    flex-grow: 1;
}

.menu-lateral #log-out{
    background-color: black;
    color: white;
    margin: 0;
}