<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteTronic | Blogs</title>
</head>
<body>
    header>
        <nav id="menuNav" class="menuNav">
            <h1>BiteTronic</h1>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </nav>

        <h2>Blogs</h2>
        <p>Todo lo que necesitas saber para elegir tu próxima compra tecnológica con confianza.</p>
    </header>
    
    <main>

        <div class="card-blog">
            <img src="" alt="">
            <div class="informacion">
                <h3>Top 12 audiculares inalámbricos calidad-precio de 2025</h2>
                <p>¡Hola amante de la música! Si estás cansado de los cables y buscas la libertad de los auriculares inalámbricos estás en el lugar correcto. Elegir los auriculares adecuados puede ser un desafío con tantas opciones en el mercado. Desde la calidad del sonido  </p>
            </div>
        </div>

        <div class="card-blog">
            <img src="" alt="">
            <div class="informacion">
                <h3>Para 2025, algunas de las mejores opciones de portátiles para estudiantes, considerando rendimiento y batería a buen precio, incluyen modelos como la MacBook Air M2 (o la versión M3), el Lenovo IdeaPad Slim 3, y el HP Pavilion. Estos portátiles ofrecen una</p>
            </div>
        </div>

        <section>
            <h2>Sección de videos</h2>

            <div class="videos-blogs">

            </div>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <h2>BiteTronic</h2>
            <p>Explora diferentes tiendas y encuentra las mejores ofertas de forma rápida, directa y confiable.</p>

            <div class="redes-sociales">
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
            </div>
        </div>

        <div class="categoria-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>

        <div class="productos-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>