<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteTronic</title>
</head>
<body>
    <header>
        <nav id="menuNav" class="menuNav">
            <h1>BiteTronic</h1>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </nav>

        <h2>Explora lo mejor en tecnología en un solo lugar</h2>
        <p>Explora diferentes tiendas y encuentra las mejores ofertas de forma rápida, directa y confiable.</p>
    </header>

    <main>

        <div class="buscador"><input type="search"></div>

        <section class="categoria">
            <h3>Comprar por categoría</h3>

            <div class="categoria-productos">
                <a href="">
                    <img src="" alt="">
                    <p>Laptops</p>
                </a>

                <a href="">
                    <img src="" alt="">
                    <p>Monitores</p>
                </a>

                <a href="">
                    <img src="" alt="">
                    <p>Celulares</p>
                </a>

                <a href="">
                    <img src="" alt="">
                    <p>Headphones</p>
                </a>

                <a href="">
                    <img src="" alt="">
                    <p>Teclados</p>
                </a>
            </div>
        </section>

        <section class="productos-destacados">
            <h3>Productos destacados</h3>

            <div class="card">
                <img src="" alt="">
                <h4>Auriculares Inalámbricos Sony WH-1000XM4</h4>
                <p>Auriculares premium con cancelación de ruido...</p>
                <a href="#">Ver más</a>
            </div>

            <div class="card">
                <img src="" alt="">
                <h4>Apple MacBook Air M2 (2023)</h4>
                <p>La nueva MacBook Air M2 es ultra delgada y ligera...</p>
                <a href="#">Ver más</a>
            </div>

            <div class="card">
                <img src="" alt="">
                <h4>Samsung Galaxy S23 Ultra 5G</h4>
                <p>El Samsung Galaxy S23 Ultra es el teléfono ...</p>
                <a href="#">Ver más</a>
            </div>

        </section>

        <section class="blog">
            <div class="title">
                <h3>Blog</h3>
                <a href="#">Ver más</a>
            </div>

            <a href="#" class="card">
                <img src="" alt="">
                <h4>Mejores auriculares  calidad-precio [2025]</h4>
            </a>

            <a href="#" class="card">
                <img src="" alt="">
                <h4>¿Cuál es la mejor laptop para programar?</h4>
            </a>

            <a href="#" class="card">
                <img src="" alt="">
                <h4>Los mejores monitores gamers por menos de $300</h4>
            </a>

        </section>

    </main>

    <footer>
        <div class="contenedor-footer">
            <h2>BiteTronic</h2>
            <p>Explora diferentes tiendas y encuentra las mejores ofertas de forma rápida, directa y confiable.</p>

            <div class="redes-sociales">
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
            </div>
        </div>

        <div class="categoria-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>

        <div class="productos-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>