<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del productos</title>
</head>
<body>
    <header>
        <nav id="menuNav" class="menuNav">
            <h1>BiteTronic</h1>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="perfil-producto">
            <div class="perfil-img"><img src="" alt=""></div>
            <div class="perfil-detalles">
                <h2>Audifonos inalánbricos Pulse 3D White Headset PlayStation 5</h2>
                <p class="precio"><span>RD$</span> 2,500.00</p>

                <p class="detalles-producto">AUDIO 3D, MICRÓFONOS DOBLES CON CANCELACIÓN DE RUIDO, BATERÍA 12 HORAS, COMPATIBLE CON PS5/PS4/PC/MÓVIL, PUERTO 3.5 MM, ADAPTADOR USB, COLOR BLANCO</p>

                <div class="agregar-producto">
                    <input type="number" name="cantidad" id="" value="" min="1" max="10">

                    <button class="añadir-carrito">Añadir al carrito</button>
                </div>

                <div class="detalles-adicionales">
                    <p>Optimizado para la tecnología Tempest 3D AudioTech de PS5, proporcionando una experiencia sonora envolvente donde el sonido parece provenir de todas las direcciones.</p>
                </div>
            </div>
        </div>

        <section class="productos-relacionados">
            <h3>Productos Relacionados</h2>
                <div class="card">
                    <img src="" alt="">
                    <h4>Audífono Bluetooth OneOdio Y80-B</h4>
                    <p>Ofrecen un sonido estéreo equilibrado con graves profundos y agudos nítidos.</p>
                    <span>RD$</span>
                </div>

                <div class="card">
                    <img src="" alt="">
                    <h4>Audifono Bluetooth Lenovo LP10</h4>
                    <p>Ofrecen una conexión estable y de bajo consumo energético.</p>
                    <span>RD$</span>
                </div>

                <div class="card">
                    <img src="" alt="">
                    <h4>Audifonos Gamer Baseus GH02 Inalambricos RGB</h4>
                    <p>Proporcionan un sonido estéreo equilibrado, ideal para juegos y música.</p>
                    <span>RD$</span>
                </div>
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <h2>BiteTronic</h2>
            <p>Explora diferentes tiendas y encuentra las mejores ofertas de forma rápida, directa y confiable.</p>

            <div class="redes-sociales">
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
            </div>
        </div>

        <div class="categoria-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>

        <div class="productos-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>