<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteTronic | productos</title>
</head>
<body>
    <header>
        <nav id="menuNav" class="menuNav">
            <h1>BiteTronic</h1>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </nav>

        <h2>Productos</h2>
        <p>Más que tecnología: una experiencia completa. Accede a una amplia gama de equipos electrónicos cuidadosamente seleccionados para brindarte rendimiento, durabilidad y las mejores marcas del mercado.</p>
    </header>

    <main>
        <div class="opciones">
            <button type="button">Todos</button>
            <button type="button">Celulares</button>
            <button type="button">Computadoras</button>
            <button type="button">Laptops</button>
            <button type="button">Accesorios</button>
        </div>

        <div class="contenedor-cards">
            <div class="card">
                <img src="" alt="">
                <hr>
                <h3>Celular Galaxy A20s</h3>
                <p><span>RD$</span></p>
            </div>
            <div class="card">
                <h3>Laptop ACER ASPIRE 3</h3>
                <p><span>RD$</span></p>
            </div>
            <div class="card">
                <h3>Auriculares inalámbricos Pulse 3D White Headset Playstation 5 </h3>
                <p><span>RD$</span></p>
            </div>
            <div class="card">
                <h3>MONITOR LED PORTÁTIL</h3>
                <p><span>RD$</span></p>
            </div>
            <div class="card">
                <h3>Audífono Bluetooth OneOdio Y80-B</h3>
                <p><span>RD$</span></p>
            </div>
            <div class="card">
                <h3>Mouse Inalámbrico Bluetooth HP 240</h3>
                <p><span>RD$</span></p>
            </div>
        </div>
    </main>

    <footer>
        <div class="contenedor-footer">
            <h2>BiteTronic</h2>
            <p>Explora diferentes tiendas y encuentra las mejores ofertas de forma rápida, directa y confiable.</p>

            <div class="redes-sociales">
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
                <a href="#"><img src="#" alt=""></a>
            </div>
        </div>

        <div class="categoria-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>

        <div class="productos-footer">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>