<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
<body>
    <!-- Barra lateral -->
    <aside>
        <!-- Logo -->
        <h2>BiteTronic</h2>
        <!-- Menu de navegación -->
        <nav class="navegacion">
            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/dashboard-negro.svg">
                    <p>Dashboard</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-inventario">
                    <img src="../../public/icons/inventario-negro.svg">
                    <p>Inventario</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-ventas">
                    <img src="../../public/icons/ventas-negro.svg">
                    <p>Ventas</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-sac">
                    <img src="../../public/icons/sac-blanco.svg">
                    <p>SAC</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-reportes">
                    <img src="../../public/icons/reportes-negro.svg">
                    <p>Reportes</p>
                </div>
            </a>
        </nav>

        <!-- Usuario -->
        <a href="#">
            <div id="perfil">
                <div id="icono-usuario"></div>
                <p id="nombre-usuario"></p>
                <p id="rol-usuario"></p>
            </div>
        </a>

        <!-- Cerrar sesión -->
        <a href="#">
            <div id="log-out">
                <img src="../../public/icons/logOut.svg">
                <p>Log out</p>
            </div>
        </a>
    </aside>

    
</body>
</html>