<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
   <main>
    <div class="container-login">   
        <h1>BiteTronic</h1>
        <form id="form-login">
            <input type="email" id="email" placeholder="Correo electrónico" required>

            <div class="password-login">
                <input type="password" id="pssword" placeholder="Contraseña" required>
                <img src="" alt="">
                <a href="#">¿Has olvidado la contraseña?</a>
            </div>

            <div class="btn-login">
                <button type="submit" id="btn">Iniciar Sesión</button>
                <span>¿No tienes una cuenta? <a href="#">Registrate</a></span>
            </div>
        </form>
    </div>
   </main>
</body>
</html>