<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteTronic | SAC</title>
</head>
<body>
    <header>
        <h2>BiteTronic</h2>
        <nav class="navegacion">
            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/dashboard-negro.svg">
                    <p>Dashboard</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/inventario-negro.svg">
                    <p>Inventario</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/ventas-negro.svg">
                    <p>Ventas</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/sac-blanco.svg">
                    <p>SAC</p>
                </div>
            </a>

            <a href="#">
                <div id="nav-dashboard">
                    <img src="../../public/icons/reportes-negro.svg">
                    <p>Reportes</p>
                </div>
            </a>
        </nav>
    </header>
</body>
</html>