<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
   <main>
    <div class="container-signup">
        <h1>BiteTronic</h1>
        <form id="form-signup">
            <input type="text" id="name_user" placeholder="Nombre de usuario" required>

            <input type="email" id="email" placeholder="Correo electrónico" required>

            <div class="password-signup">
                <input type="password" id="pssword" placeholder="Ingresar contraseña" required>
                <img src="../../public/icons/ocultarContraseña.png" alt="">
            </div>

            <div class="confirmPassword-signup">
                <input type="password" id="pssword" placeholder="Confirmar contraseña" required>
                <img src="../../public/icons/ocultarContraseña.png" alt="">
            </div>

            <div class="btn-signup">
                <button type="submit" id="btn">Registrarse</button>
                <span>¿Ya tienes una cuenta? <a href="login.html">Inicia Sesión</a></span>
            </div>
        </form>
    </div>
   </main>
</body>
</html>